<!DOCTYPE html>

<html lang = "en">

    <head>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="/css/main.css">

        <title>GPS</title>

    </head>

    <body>

        <div id="map-container">

            <div id="menu"></div>
            <div id="map" onclick="MostrarMenu()"></div>
            
        </div>

        

        <div id="cam" style="display:none;"></div>
        
        <script src="/js/clickmanager.js"></script>
        <script src="/js/webcam.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
        <script src="/js/lrm-graphhopper-1.2.0.min.js"></script>
        <script src="https://npmcdn.com/leaflet-geometryutil"></script>
        <script src="/js/leaflet.ajax.min.js"></script>
        <script src ="/js/route.js" type = "module"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/main.js" type = "module"></script>

        

    </body>

</html>